/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: "Gilroy";
    src: url("/fonts/Gilroy-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("/fonts/Gilroy-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("/fonts/Gilroy-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

/*main
==========================================*/
body {
    font-size: 18px;
    font-family: Gilroy;
    font-weight: 400;
    font-style: normal;
}


h1 {
    font-size: 56px;
    line-height: 69px;
}

h2 {
    font-size: 48px;
    line-height: 58px;
}

h3 {
    font-size: 32px;
    line-height: 140.62%;
    font-weight: normal;
}

h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;

}

h5 {
    font-size: 24px;
    line-height: 140.62%;
    font-weight: 700;
}

.container {
    max-width: 100%;
    width: 1170px;
    margin: 0 auto;
}

.main {

}

/*header
==========================================*/

.header {
    width: 100%;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.6111rem 4.4444rem;
    align-items: center;
}

.logo {

}

.nav {

}

.nav__list {
    display: flex;
    flex-direction: row;
}

.nav__item {
    margin-right: 31px;

}

.nav__item:last-child {
    margin-right: 0px;

}

.nav__link {
    line-height: 22px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.nav__link:hover {
    opacity: .75;
}


/*intro
==========================================*/
.intro {
    background-color: #F1F1F2;
}

.intro__grid {
    display: grid;
    grid-template-columns: 6fr 6fr;
}

.intro_content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20%;

}

.intro__btn {
}

.intro__img, img {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.footerlogo__img {
    object-fit: none;
}


/*holidays
==========================================*/
.holidays {
    background: #FFFFFF;
}

.holiday__box {
    padding: 96px 135px;
    text-align: center;
}

.holiday__h {

}

.holiday__p {
    margin-top: 23px;

}

.holiday__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    grid-gap: 30px;
    justify-items: center;
    margin-top: 64px;
}

.cardblock {
    text-align: left;
    background: #FAFAFA;
}

.cardblock:hover {
    border: #cccccc 1px solid;
    background-color: #ffffff;
}

.card__content {
    padding: 24px;

}

.card__img {

}

.card__link {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.card_a {
    margin-top: 74px;
}


/*start
==========================================*/
.start {
    background-color: #F7941E;
}

.start__box {
    padding: 81px 235px;
}

.start__grid {
    display: grid;
    grid-template-columns: 6fr 6fr;
    align-items: center;
}

.start__btn {
    text-align: right;

}


/*myblogs
==========================================*/
.myblogs {
    background-color: #ffffff;
}

.myblogs__box {
    padding: 88px 135px 80px 135px;
    text-align: center;
}

.myblogs__h {

}

.myblogs__p {
    margin-top: 16px;

}

.myblogs_a {
    margin-top: 16px;
}

.myblogs__banner {
    display: grid;
    grid-template-columns: 4fr 8fr;
    padding-top: 71px;
}

.banner__textbox {
    background-color: #231F20;
    padding: 63px 200px 49px 78px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
}

.banner__a {
    text-decoration: none;
    font-style: normal;
    color: #ffffff;
}

.myblogs__cardlist {
    display: grid;
    grid-template-columns: 6fr 6fr;
    text-align: left;
    padding-top: 40px;
}

.myblogs__card:hover {
    border: #cccccc 1px solid;
}

.card__box {
    padding: 48px;

}


/*text
==========================================*/
.text__h4 {
    font-family: Gilroy;
    font-size: 18px;
    line-height: 135.94%;
}

.text__p {
    font-family: Gilroy;
    font-size: 20px;
    line-height: 140.62%;
    color: #000000;
}

.text__p--big {
    font-size: 32px;
    line-height: 140.62%;
}


/*footer
==========================================*/
.footer {
    background-color: #FAFAFA;
    text-align: center;

}

.footer__container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: #231F20 1px solid;
    padding-bottom: 53px;

}

.footer__nav{
    padding-top: 115px;
}


.footernavnav__list {
    display: flex;
    justify-content: space-around;
}

.signature_text {
    font-size: 18px;
    padding-bottom: 35px;
}

.footer__list {
    max-width: 500px;
    margin: 55px auto;

}

.footer__lislicon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 25px;
}

.svgicon {
    width: 40px;
    height: 40px;
}



/*button
==========================================*/
.btn {
    font-family: Gilroy;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    border: 1px solid #F7941E;
    box-sizing: content-box;
    padding: 21px 46px 14px 47px;
    border-radius: 5px;
    display: inline;
}

.btn--smallborder {
    padding: 13.97px 25px 7.53px 24px;
}

.btn--textcolororange {
    color: #F7941E;
}

.btn--textcolorwhite {
    color: white;
}

.btn--textcolorblack {
    color: black;
}

.btn--backgroundcolororange {
    background-color: #F7941E;
}

.btn--backgroundcolorblack {
    background-color: black;
}

.btn--backgroundbordercolorblack {
    border: 1px solid black;
}

/*text
==========================================*/
.text {
}

.p20 {
    font-size: 20px;
    line-height: 140.62%;
    color: #000000;
}

.p14 {
    font-size: 14px;
    line-height: 140.62%;
    color: #000000;
}

.text__h2 {
    font-family: Gilroy;
    font-size: 32px;
    line-height: 140.62%;
    color: #000000;
}

.text__h3 {
    font-family: Gilroy;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    font-weight: 500;
}

.text__h3--b { /*Жирное начертиание для текста*/
    font-weight: 700;
}

h3--b { /*Жирное начертиание для заголовка*/
    font-weight: 700;
}
